@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* * * * F O O T E R * * * */

footer{
    margin-top: 2em;
    background-color: #1f1f1f;
    display: flex;
    flex-direction: column;
    padding: 2em 5% 0 5%;
    gap: 1em;
}

.footer-sct{
    display: flex;
    justify-content: space-between;
    font-size: 0.6em;
}

.footer-sct div{
    width: 50%;
    text-align: center;
}

.footer-sct div h1{
    padding: .5em;
}

.footer-sct div a{
    color: #fff;
    text-decoration: none;
    width: 50%;
    padding: .5em;
    background-color: #E9112E;
    border-radius: 5px;
}

.footer-sct div a:hover{
    background-color: rgb(233, 17, 46, .8);
    text-decoration: underline;
    transition: all .1s ease-in 0s;
}

.footer-noticias{
    text-align: right;
    border-left: 1px solid #888;
}

.footer-projeto{
    border-right: 1px solid #888;
}

.footer-hr{
    border-color: #888;
}

.footer{
    width: 100%;
    color: #DDD;
    font-size: 0.75em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer ul{
    list-style: none;
    text-align: right;
    padding-left: 0px;
}

.footer div{
    width: 30%;
    padding: 1% 0;
}

.midia{
    text-align: center;
}

.logo2{
    width: 100%;
}

.midia>h1{
    width: 100%;
    display: flex;
}

.midia>h1>img{
    width: 100%;
    height: auto;
}

.atendimento{
    text-align: justify;
    padding-left: 5%;
    font-size: 0.75em;
}

.meios_paga{
    padding-right: 5%;
}

.img-formaspagamento{
    width: 12.9583em;
    height: auto;
}

#midias{
    width: 100%;
}

#midias img{
    margin-left: 5%;
    display: inline-block;
}

#icone_pagamento{
    letter-spacing: 100%;
    display: flex;
    align-items: center;
    justify-content: end;
    gap: .5em;
}

@media screen and (max-width: 1024px){
    div ul li img{
        width: 3em;
    }
    footer{
        font-size: .5em;
    }
    .redes_sociais{
        width: 2em;
    }
    #pagamento_faixa{
        padding-top: 1em;
    }
}

@media screen and (max-width: 800px){
    div ul li img{
        width: 2.5em;
    }
    footer{
        font-size: .5em;
    }
    .logo2{
        font-size: 1.5em;
    }
    .redes_sociais{
        width: 1.5em;
    }
    #pagamento_faixa{
        padding-top: 1em;
        width: 10em;
    }
}

@media screen and (max-width: 440px){
    .footer{
        flex-direction: column;
        align-items: center;
        font-size: .75em;
        padding: 1em 0;
        gap: .5em;
    }
    .footer div{
        width: 90%;
    }
    div ul li img{
        width: 4em;
    }
    .logo2{
        font-size: 1.5em;
    }
    .redes_sociais{
        width: 2em;
    }
    .meios_paga{
        display: none;
    }
    .atendimento{
        text-align: center;
    }
    .midia{
        order: 1;
    }
    .atendimento{
        order: 2;
    }
}

@media screen and (max-width: 300px){
    .footer-sct{
        flex-direction: column;
        gap: 2em;
        align-items: center;
    }
    .footer-sct div{
        border: 0;
        width: 100%;
    }
    .footer-sct div h1{
        width: 100%;
    }
}