@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/* * * * F O R M S * * * */

.main-content{
    margin: 6em 0 4em 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-content-login{
    margin: 6em 0 8em 0;
}

.form{
    width: 50%;
    margin: 0 auto;
    background-color: #eee;
    padding: 1.5em;
    /*border: 1px solid black;*/
    border-radius: 7px;
    box-shadow: 0px 0px 7px #888;
}

label{
    display: block;
    margin-bottom: .5em;
    font-weight: bold;
}

.inputs, .submit{
    font-size: 24px;
    width: 100%;
    padding: .3em;
}

.inputs{
    margin-bottom: .5em;
    border: 1px solid #aaa;
    border-radius: 5px;
}
/* Link para pagina de login */
.submit{
    margin-top: .5em;
    background-color: #ccc;
    font-weight: 500;
    letter-spacing: .05em;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.submit:hover{
    background-color: #b0b0b0;
    /* border-bottom: 2px  solid #005EB8; */
}

.link{
    text-align: right;
    height: 2em;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

/* layout input nome */

.nomes, .radio-check-pai{
    width: 100%;
    display: flex;
    gap: 5%;
}

.nomes>div, .radio-check-pai>div{
    width: 100%;    
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.radio-check{
    gap: .2em;
}

.radio-check>div{
    display: flex;
}

.radio-check>div>label{
    margin: 0;
    font-weight: 400;
}

input[type=radio], input[type=checkbox]{
    margin-right: 1em;
    justify-content: center;
    align-items: center;
}

textarea{
    width: 100%;
}

label a{
    text-decoration: none;
    color: #db3333;
    font-size: .7em;
}

label a:hover{
    transition: all 0.1s linear 0s;
    font-size: .75em;
    font-weight: bold;
    text-decoration: underline;
}


hr{
    margin: 1em 0;
    border: 1px solid #c8c8c8;
}


@media screen and (max-width:1200px){
    .form{
            padding: 1em;
            width: 75%;
    }
}

@media screen and (max-width:768px) {
    .form{
        width: 80%;
    }
    inputs{
        font-size: .4em;
    }

    /* layout input nome */
    .nomes{
        flex-direction: column;
    }
}

@media screen and (max-width:550px){
    .radio-check-pai{
        flex-direction: column;
        gap: 1em;
    }
}

@media screen and (max-width:320px){ /*a partir de 278px width tem quebra no link*/
    .form{
        width: 90%;
        padding: .5em;
    }
}