@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Orbitron:wght@400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


/* * * * M A I N * * * */

.main{
    padding: 0 10%;
}
/* C A R D S */

.sct-cards{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 90%;
    margin: auto;
    margin-top: 2em;
}

.card{
    /*border: 1px solid #000;*/
    border: 0;
    border-radius: 6px;
    background-color: #fff;
    font-family: Poppins;
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: .5em;
    text-align: justify;
    /* margin-bottom: 1.5em; */
    justify-content: space-between;
    height: 100%;
}

.card7, .card8{
    display: none;
}

.card-img, .card-desc, .card-preco, .card p, .card img{
    margin: 0;
}

.card-img{
    text-align: center;
}

.card-img img{
    width: 100%;
    height: auto;
}

.card-desc{
    display: flex;
    font-size: .7em;
}

.card-desc p{
    flex-shrink: 2;
}

.card-preco{
    display: flex;
    flex-direction: column;
}

.preco-de{
    color: #db3333;
    font-size: .5em;
}

p span{
    text-decoration: line-through;
}

.preco-por{
    color: #1088eb;
    font-size: .8em;

}
.preco-juros{
    color: #777;
    font-size: .5em;

}

.link-produto{
    text-decoration: none;
    color: black;
}

.link-produto:visited{
    text-decoration: none;
    color: black;
}

hr{
    margin: 2em;
    border-color: #888;
}

.texto-respiruzinho{
    color: white;
    padding-left: 5%;
    font-family: Orbitron;
}

.sct-cards a{
    text-decoration: none;
    color: #000;
    width: 15%;
    margin-bottom: 1em;

}

@media screen and (max-width: 1400px){
    .card-desc p, .preco-por{
        font-size: .7em;
    }
    .preco-de, .preco-juros{
        font-size: .35em;
    }
    .sct-cards a{
        width: 22%;
    }
    .card7, .card8{
        display: flex;
    }
}

/* @media screen and (min-width: 1025px){
    .card-desc p, .preco-por{
        font-size: .8em;
    }
    .preco-de, .preco-juros{
        font-size: .5em;
    }
    .card{
        max-height: 16em;
    }
} */

@media screen and (max-width: 1024px){
    .card-desc p, .preco-por{
        font-size: .7em;
    }
    .preco-de, .preco-juros{
        font-size: .4em;
    }
    .sct-cards a{
        width:32%;
    }
    .card7, .card8{
        display: none;
    }
}

@media screen and (max-width: 640px){
    .card-desc p, .preco-por{
        font-size: .7em;
    }
    .preco-de, .preco-juros{
        font-size: .4em;
    }
    .sct-cards a{
        width: 48%;
    }
    .card7, .card8{
        display: none;
    }.texto-respiruzinho{
    font-size: .5em;
    padding-left: 0;
    text-align: center;
    }
}

@media screen and (max-width: 480px){
    .card-img img{
        width: 50%;
    }
    .card-desc p, .preco-por{
        font-size: .7em;
    }
    .preco-de, .preco-juros{
        font-size: .5em;
    }
    .sct-cards a{
        width: 90%;
    }
}

/* BANNER */

.sct-banner{
    width: 100%;
    padding: 0 15%;
    background: #000000;
    
}

.sct-banner img{
    width: 100%;
    /* height: 18em; */
    border-radius: 10px;
}

@media screen and (max-width:768px){
    .sct-banner{
        padding: 0;
    }
}

@media screen and (max-width:480px){
    .sct-banner{
        display: none;
    }
}