main>h1{
    width: fit-content;
    margin: 1em 1.5em 1.5em 1.5em;
    font-size: 2em;
    font-weight: 600;
    color: #fff;
}

hr{
    margin: .5em 0 .5em 3em;
    border: .01em #c8c8c8 solid;
}

.card-pai{
    display: flex;
    flex-direction: column;
    gap: 2em;
    margin-bottom: 5em;
    width: 100%;
    box-sizing: border-box;
}

.cards{
    box-sizing: border-box;
    width: 90%;
    display: flex;
    margin: 0 3em;
    padding-right: 10%;
    gap: 2em;
    background-color: #d1d1d1;
    border-radius: 5px;
    text-align: justify;
}

.cards:hover{
    transform: scale(1.025);
    transition: all 0.1s linear 0s;
}

.card-img{
    width: 30%;
}

.card-img img{
    width: 100%;
    height: auto;
    display: block;
}

.cards-texto{
    width: 60%;
    padding: .2em 0;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.cards-texto h2{
    font-weight: 500;
    font-size: 1.2em;
}

.cards-texto p{
    font-size: 1em;
    height: min-content;
}

.cards-texto a{
    font-size: 1em;
    text-decoration: none;
    color: #0056fe;
}

.cards-texto a:hover{
    text-decoration: underline #222;
}

@media screen and (max-width: 1460px) and (min-width: 769px){
    .cards{
        gap: 3%;
        padding-right: 3%;
    }
    .cards-texto{
        width: 70%;
    }
    .cards-texto h2{
        font-size: 1em;
    }
    .cards-texto p{
        font-size: .8em;
    }
}

@media screen and (max-width: 1200px) and (min-width: 769px){
    .card-img{
        width: 40%;
    }
}

@media screen and (max-width: 1010px) and (min-width: 769px){
    .cards{
        padding-right: 2%;
        gap: 2%;
    }
    hr,.cards, main>h1{
        margin-left: 5%;
    }
    .cards-texto h2{
        font-size: .8em;
    }
    .cards-texto p{
        font-size: .7em;
    }
    .cards-texto{
        max-height: 150px;
        overflow-y: auto;
    }
}

@media screen and (max-width: 768px) {
    main{
        margin-top: 2em;
    }
    main>h1{
        margin: 2em auto;
        text-align: center;
        padding: 0 1em;
    }
    .cards{
        flex-direction: column;
        padding: 0 0 1em;
        width: 60%;
        margin: 0 20%;
        gap: 0;
    }
    .card-img, .cards-texto{
        width: 100%;
        height: auto;
    }
    .card-img img, .card-img{
        border-radius: 4px;
    }
    .cards-texto{
        padding: 1em;
        gap: .5em;
    }
    .cards-texto h2{
        font-size: 1em;
    }
    .cards-texto p{
        font-size: .8em;
    }
    hr{
        margin: 1.5em 3em;
    }
}

@media screen and (max-width: 480px){
    main>h1{
        font-size: 1.2em;
        padding: 0 .5em;
    }
    .cards{
        width: 90%;
        margin: 0 5%;
        padding-bottom: .5em;
    }
    .cards-texto{
        padding-bottom: .5em;
    }
    .cards-texto h2{
        font-size: .8em;
    }
    .cards-texto p{
        font-size: .6em;
    }
    hr{
        margin: 1em 1.25em;
    }
}

@media screen and (max-width: 280px){
    main>h1{
        font-size: 1em;
    }
    .cards{
        max-height: 15%;
    }
    .cards-texto{
        padding-bottom: .25em;
    }
    .cards-texto h2{
        font-size: .7em;
    }
    .cards-texto p{
        font-size: .5em;
    }

}