@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.main-content-produto{
    width: 70%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    background: #FFFFFF;
    padding: 2em;
    margin-bottom: 2em;
    margin-top: 5em;
    border-radius: 10px;
    box-sizing: border-box;
}

.imagem--produto{
    width: 50%;
}

.imagem--produto img{
    width: 100%;
    height: auto;
}

.info--produto{
    background: #282828;
    color: #ddd;
    width: 40%;
    padding: 1em;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
    border-radius: 10px;
    box-shadow: 3px 3px 6px #444;
}

.comprar{
    width: 80%;
    height: 2.5em;
    align-self: center;
    border-radius: 6px;
    background: #005EB8;
    text-align: center;
    line-height: 2.5em;
    text-decoration: none;
    color: white;
}

.info--produto a:hover{
    background: #003C97;
    color: lightgray;
}

.info--produto h1{
    font-size: 1.8em;
}

.preco-de{
    color: #db3333;
    font-size: 1.2em;
}

.preco-de span{
    text-decoration: line-through;
}

.preco-por{
    color: #1088eb;
    font-size: 1.5em;

}
.preco-juros{
    color: #777;
    font-size: 1.2em;

}

article{
    width: 70%;
    margin: auto;
    margin-bottom: 5em;
    padding: 3em;
    display: flex;
    flex-direction: column;
    font-size: .8em;
    background: #FFFFFF;
    border-radius: 10px;
    text-align: justify;
}

article p{
    margin-top: 1em;
}

article>p>span{
    font-weight: bold;
    text-align: start;
}

@media screen and (max-width:1680px){
    .info--produto h1{
        font-size: 1.5em;
    }
    .preco-de, .preco-juros, .frete{
        font-size: .8em;
    }
    .preco-por{
        font-size: 1.2em;
    }
}

@media screen and (max-width:1500px){
    article, .main-content-produto{
        width: 85%;
    }
    .info--produto h1{
        font-size: 1.2em;
    }
    .preco-de, .preco-juros, .frete{
        font-size: .6em;
    }
    .preco-por{
        font-size: 1em;
    }
}

@media screen and (max-width:1048px){
    article, .main-content-produto{
        width: 90%;
    }
    .info--produto h1{
        font-size: 1em;
    }
    .preco-de, .preco-juros, .frete{
        font-size: .5em;
    }
    .preco-por{
        font-size: .8em;
    }
}

@media screen and (max-width:768px){
    article, .main-content-produto{
        padding: 2em 5%;
    }
    .main-content-produto{
        margin-top: 2em;
        flex-direction: column;
        gap: 1em;
        align-items: center;
    }
    .imagem--produto{
        width: 90%;
    }
    .info--produto{
        width: 100%;
        gap: .7em;
    }
    .info--produto h1, article>h1{
        font-size: 1.43em;
    }
    .preco-de, .preco-juros, .frete, article>p{
        font-size: .8em;
    }
    .preco-por{
        font-size: 1.2em;
    }
    .comprar{
        width: 100%;
    }
    article{
        margin-bottom: 2em;
    } 
    article>h1{
        text-align: start;
    }
}
