@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body{
    margin: 0;
    font-family: Inter, Poppins;
    font-size: 24px;
}

/* H E A D E R */

.header{
    width: 100%;
    background-color: #282828;
    margin: 0;
}

/*HERO*/
.hero{
    display: flex;
    justify-content: space-around;
}

.logo{
    align-content: center;
}

.logo h1{
    margin: 0;
    color: #d4d4d4;
    text-shadow: 3px 2.5px 1px #ff0000;
    text-transform: uppercase;
    font-size: 1.5em;
    font-weight: 800;
}

.search_bar{
    align-content: center;
}

.pesquisa{
    display: inline-block;
    background-color: #e4e4e4;
    color: #000000;
    height: 2.5em;
    padding: 0 0.5em;
    border: 0px;
    border-radius: 5px;
}

.menu{
    align-content: center;
}

.menu ul{
    list-style: none;
    padding: 0;
}

.menu ul li{
    display: inline-block;
    margin: 0 .5em;
}

.menu ul li img{
    width: 1em;
    height: auto;
    vertical-align: middle;
}

.menu ul li a{
    text-decoration: none;
    color: #db3333;
    text-shadow: 1.5px 1.5px 1px #000;
    font-size: 1em;
    font-family: Poppins;
}

/*HERO2*/
/**
.ul-pai{
    border: 1px solid #fff;
    list-style-image: url(../img/Menu.png);
    margin: 0;
}

.hero-2 ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

.hero-2 ul li{
    position: relative;
}

.hero-2 ul li ul{
    position: absolute;
    left: 6em;
    top: 0;
    display: none;
}

.hero-2 ul li ul li a{
    display: block;
    text-decoration: none;
    color: #fff;
    background-color: #282828;
    padding: 5px;
    border: 1px solid #aa00bb;
}

.hero-2 li:hover ul{
    display: block;
}
**/

/* F O O T E R */

footer{
    background: #282828;
    color: #DDD;
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    font-size: 0.8em;
    position: absolute;
    bottom: 0px;
}

footer ul{
    list-style: none;
    text-align: right;
    padding-left: 0px;
    
}

footer div{
    width: 30%;
    padding: 1% 0;
}

.logo1{
    width: 100%;
    font-size: 2em;
}

.midia{
    text-align: center;
}

.atendimento{
    text-align: justify;
    padding-left: 5%;
    font-size: 0.75em;
}

.meios_paga{
    padding-right: 5%;
}

.img-formaspagamento{
    width: 12.9583em;
    height: auto;
}

#midias img{
    margin-left: 5%;
}

#midias{
    width: 100%;
}

#icone_pagamento{
    letter-spacing: 100%;
}

body{
    background-color: #B8B8B8;
}

.main{
    padding: 0 10%;
}
/* CARD */

.sct-cards{
    margin-top: 10em;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.card{
    /*border: 1px solid #000;*/
    border: 0;
    border-radius: 6px;
    background-color: #fff;
    font-family: Poppins;
    display: flex;
    flex-direction: column;
    width: 12%;
    padding: .5em;
    text-align: justify;
    box-shadow: 0px 0px .5em #888;

    max-height: max-content;
}

.card-img, .card-desc, .card-preco, .card p, .card img{
    margin: 0;
}

.card-img{
    text-align: center;
}

.card-img img{
    width: 100%;
    height: auto;
}

.card-desc{
    display: flex;
    font-size: .7em;
}

.card-desc p{
    flex-shrink: 2;
}

.card-preco{
    display: flex;
    flex-direction: column;
}

.preco-de{
    color: #db3333;
    font-size: .5em;
}

p span{
    text-decoration: line-through;
}

.preco-por{
    color: #1088eb;
    font-size: .8em;

}
.preco-juros{
    color: #777;
    font-size: .5em;

}